/* Transactions.css */

.BloodTransactionContainer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.transactionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transactionItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.transactionItem p {
  margin: 5px 0;
}

p {
  font-size: 18px;
  margin: 20px;
}

/* Empty state */
p.yourDonationHistoryIsEmpty {
  font-size: 18px;
  margin: 20px;
}