/* Styles for BloodSamples component */
.BloodSamplesContainer {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.BloodSamplesContainer h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #ffffff;
}

.sampleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sampleBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #f7f7f7;
}

.sampleBox h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.sampleBox p {
  margin: 10px 0;
  color: #555;
}

/* Add more CSS styles as needed to customize the appearance of the blood samples */
