/* Styles for BloodDonorTable component */
.BloodDonorTable {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.BloodDonorTable h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #ddd;
}

.BloodDonorTable table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.BloodDonorTable th, .BloodDonorTable td {
  padding: 10px;
}

.BloodDonorTable thead {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.BloodDonorTable tbody tr:nth-child(odd) {
  background-color: #fff;
}

.BloodDonorTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.BloodDonorTable table tr:hover {
  background-color: #ddd;
}

/* Additional styles for BloodDonorTable component */
.BloodDonorTable p {
  background-color: #ddd;
  padding: 10px;
  margin: 0; /* Reset margin to 0 */
  font-size: 16px; /* Adjust font size as needed */
  border-radius: 5px; /* Add border-radius to match the container style */
}

/* You can continue adding more custom styles as needed for the BloodDonorTable component. */
